<form action="/dashboard/addsensor" method="POST">
<div class="flex flex-wrap">
<div class="form-control flex-auto p-1">
    <input type="text" placeholder="Sensor Name" class="input" name="sensor">
  </div>
  <div class="form-control flex-auto p-1">
  <button class="btn btn-primary submit">Submit</button>
  </div>
  </div>
</form>