{{> menu id="dashboard"}}

<div class="container bg-base-200 rounded-box rounded-xl p-4 mb-4">
  <h1 class="text-xl">Your Sensors Subscriptions</h1>
  <div class="flex flex-row">
{{#each latest}}
<div class="card bg-base-100 flex-auto p-4 m-2">
  <h2 class="text-xl">{{sensor}}</h2>
  <p>Last Reading Time: {{timestamp}}</p>
  <p>Temperature: {{reading}} C</p>
  <p>Humidity: {{humidity}}</p>
  <br>
  <div class="flex">
  <a class="btn btn-primary w-40 mr-2">View Sensor</a>
  <a class="btn btn-error w-40">Delete</a>
  </div>
</div>
{{/each}}
{{#unless latest}}
<h2>You have not added any sensors!</h2>
{{/unless}}
</div>
</div>

<div class="card bg-base-200 p-4 mb-4">
  <h2 class="text text-xl">Subscribe to Sensor</h2>
  {{> addsensor}}
</div>