{{> menu id="home"}}

<div class="hero rounded-xl" style="background-image: url('https://images.unsplash.com/photo-1619140099965-06d74aaf51fa');">
  <div class="hero-overlay bg-opacity-60 rounded-xl"></div> 
  <div class="text-center hero-content text-neutral-content my-10">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Welcome to CREM
          </h1> 
      <p class="mb-5">
            Web application of the Comms Room Environment Monitor project.
          </p> 
      <a href="/login"><button class="btn btn-primary mr-4">Log In</button></a><a href="/register"><button class="btn btn-ghost">Register</button></a>
    </div>
  </div>
</div>